.accent {
  font-size: 25;
}

.value {
  font-size: 40;
}

.caption {
  font-size: 25;
}

.stats-section {
  x: 0;
  y: -30;
}

.toggle-stats-section {
  x: 0;
  y: 90;
}

.graph-label {
  font-size: 16;
  x: 0;
}

.weather-stat {
  font-size: 25;
}

#weekday {
  text-anchor: middle;
  x: 11%;
  y: 20;
}

#dayOfMonth {
  text-anchor: middle;
  x: 11%;
  y: $+15;
}

#time {
  font-size: 80;
  text-anchor: end;
  /* Leave space for #seconds */
  x: 100%-45;
  y: 60;
}

#seconds {
  font-size: 35;
  text-anchor: end;
  x: 100%;
  y: 28;
}

#main-stats {
  y: 95;
}

#distance {
  x: 0;
  y: 0;
}

#steps {
  font-size: 50;
  x: 0;
  y: $+20;
}

#bpm {
  text-anchor: middle;
  x: 90%;
  y: $-14;
}

#heartrate {
  text-anchor: middle;
  x: 90%;
  y: $+15;
}

#weather-location {
  x: 0;
  y: 0;
  width: 225;
}

#weather-temperature {
  x: 0;
  y: $+15;
}

#weather-updated {
  x: $+15;
  y: $-45;
  width: 155;
}

#cgm-bg-label {
  x: 0;
  y: 0;
}

#cgm-bg {
  x: 0;
  y: $+10;
}

#heartrate-small {
  font-size: 35;
  text-anchor: end;
  x: 100%;
}

#graph-container {
  x: 0;
  y: 140;
  width: 88%;
  height: 110;
}

#graph-plot {
  x: 12%;
}

#graph-label-high {
  y: 8;
}

#graph-label-middle {
  y: 50%+5;
}

#graph-label-low {
  y: 100%;
}

#weather-wind {
  y: $+5;
}

#weather-cloud {
  /* Align to the right of wind element */
  x: 100%-135;
  y: $-28;
}

#weather-humidity {
  y: $+5;
}

#weather-uv {
  /* Align to the right of humidity element */
  x: 100%-135;
  y: $-28;
}

#weather-precip {
  y: $+5;
}

#weather-aqi {
  /* Align to the right of precip element */
  x: 100%-135;
  y: $-28;
}

#weather-sun {
  y: $+5;
}
