text {
  fill: #ffffff;
  font-family: System-Regular;
  text-overflow: ellipsis;
}

.accent {
  fill: fb-orange;
  font-family: System-Bold;
}

.caption {
  opacity: 0.5;
}

.graph-label {
  font-family: System-Bold;
}

.graph-hor-line {
  fill: #ffffff;
  stroke-width: 1;
  opacity: 0.2;
}

.graph-point {
  /* Fill color should match what's in graph.js */
  fill: #ffffff;
  opacity: 0.85;
  visibility: hidden;
}

.weather-stat {
  /* Default value is too small */
  text-length: 64;
}

#time {
  /* Default value is too small */
  text-length: 32;
}

#seconds {
  font-family: System-Bold;
}

#distance {
  /* Default value is too small */
  text-length: 64;
}

#steps {
  /* Default value is too small */
  text-length: 64;
}

#heartrate {
  /* Default value is too small */
  text-length: 32;
}

#heartrate-small {
  /* Default value is too small */
  text-length: 32;
}

#weather-location {
  /* Default value is too small */
  text-length: 64;
}

#weather-temperature {
  /* Default value is too small */
  text-length: 32;
}

#weather-updated {
  /* Default value is too small */
  text-length: 32;
}
